*{
	margin: 0;
	padding: o;
}
.logo{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img{
	width: 50px;
}
.navbar{
	display: flex;
	position: sticky;
	top: 0;
	cursor: pointer;

}
.nav-list{
	width: 70%;
	display: flex;
	align-items: center;
}
.nav-list li{
	list-style: none;
	padding: 26px 30px;
}
.nav-list li a{
	text-decoration: none;
	color:white;
	font-size: 20px;
	font-family:'Ubuntu', sans-serif;
	}
.rightNav{
	width: 30%;
	text-align: right;
}
.background{
	background: url(../Web.png);
	background-size: cover;
	background-blend-mode: darken;
}
.firstSection{
	height: 100vh;
}
.box-main{
	display: flex;
	align-items: center;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	max-width: 85%;
	margin: auto;
	height: 80%;
	margin-left:15%;
}
.firstHalf{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.absolute{
		position: absolute;
		top: 300px;
		left: 50%;		
}
.text-big{
 font-size: 52px;
 font-weight: 300;
}
.text-mediam{
	font-size: 28px;
}
.text-small{
font-size: 30px;
}
.text-extsmall{
	font-size: 17px;
}
.btn{
	padding: 8px 20px;
	margin: 7px 0;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	font-size: 15px;
	color: white;
	cursor: pointer;
}
.fa {
	padding: 5px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 0;
	color: white;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
	
.firsttab{
	background-color: #fbf2f0;
	border-radius: 8px;
	width: 23%;
    height: 30%;
	padding: 50px;
	margin: 3%;
	color: black;
	box-shadow: 1px 4px 4px 4px #dcdde1;
}
.sectab{
	background-color: #fbf2f0;
	border-radius : 8px;
	width : 23%;
	height : 30%;
	padding: 50px;
	margin: 3%;
	color: black;	
	box-shadow: 1px 4px 4px 4px #dcdde1;
}
.thirdtab{
	background-color:#fbf2f0;
	border-radius : 8px;
	width : 23%;
	height : 30%;
	padding: 50px;
	margin: 3%;
	color: black;	
	box-shadow: 1px 4px 4px 4px #dcdde1;
}
.two{
	width: 44px;
	font-size: 35px;
	color: black;
	text-align: center;
	background-color: rgb(153, 97, 209);;
	border-radius: 50px;
}
.four{
	width: 44px;
	font-size: 35px;
	color: black;
	text-align: center;
	background-color:#5CBD88;
	border-radius: 50px;
}
.one{
	width: 44px;
	font-size: 35px;
	color: black;
	text-align: center;
	background-color:red;
	border-radius: 50px;
}
.firstline{
	color: darkblue;
	font-size: 20px;
}
.secline{
	color: rgb(24, 209, 169);
	font-size: 20px;
}
.thirdline{
	color: rgb(139, 0, 23);
	font-size: 20px;
}
.firsttext{
	font-size:18px;
}
.sectext{
	font-size: 18px;
}
.thirdtext{
	font-size: 18px;
}
.firstbt{
	padding: 8px 20px;
	margin: 7px 0;
	border-radius: 8px;
	background: rgb(199, 165, 233);
	color: white;
}
.secbt{
	padding: 8px 20px;
	margin: 7px 0;
	border-radius: 8px;
	background: rgb(42, 179, 149);
	color: white;
}
.thirdbt{
	padding: 8px 20px;
	margin: 7px 0;
	border-radius: 8px;
	background: rgb(235, 52, 61);
	color: white;
}
.btnf{
	padding: 8px 20px;
	margin: 7px 0;
	border: 2px solid white;
	border-radius: 8px;
	background-color: rgb(153, 97, 209);
	font-size: 15px;
	color: white;	
}
.btns{
	padding: 8px 20px;
	margin: 7px 0;
	border: 2px solid white;
	border-radius: 8px;
	background-color: rgb(3, 113, 117);
	font-size: 15px;
	color: white;		
}
.btnt{
	padding: 8px 20px;
	margin: 7px 0;
	border: 2px solid white;
	border-radius: 8px;
	background-color: rgb(173, 16, 16);
	font-size: 15px;
	color: white;	
}
.sectionTag{
	font-size: 28px 
}
.sectionsubTag{
	font-size: 22px;
}
.secRight{
	background-color: tomato;
	border-radius : 8px;
	width : 75%;
	height : 25%;
	border:none;
	padding: 80px;
	margin: 7%;
	color: white;
}
.mobileno{
	width: 100%;
	text-align: right;
	padding: 8px 20px;
	border-radius: 8px;
}
.secTable{
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.sectext{
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 9%;
}
.firstlinetext{
	font-size: 28px;
}
.third{
	font-size: 1rem;
	
}
.seclinetext{
	line-height: 2.7;
	font-size: 20px;
	align-items: center !important;
}
.firstlinetextt{
	font-size: 18px;
	color: black;
}
.thirdstap{
	background: url(../third.png);
	background-size: cover;
	height: auto;
	margin: 10px;
}
.boxlitet{
	background-color: white;
	border-radius: 8px;
	width: 28%;
    height: 30%;
	padding: 50px;
	margin-left: 10%;
	color: black;
}
.boxlitett{
	background-color: white;
	border-radius: 8px;
	width: 28%;
    height: 30%;
	padding: 50px;
	margin-left: 10%;
	color: black;
}
.sectionTagg{
	font-size: 24px;
	color: green;
}
.sectionsubTagg{
	font-size: 20px;
}
.explore{
	font-size: 21px;
	color: green;
}
.sectionTaggg{
	font-size: 24px;
	color:red;
}
.learn{
	font-size: 21px;
	color: red;
}
.text-small{
	font-size: 30px;
	margin: 10px;
}
@media only screen and (max-width:1140px){
	 .nave-list{
		 flex-direction: column;
	 }
	 .rightNav{
		flex-direction: column;
	 }
}